* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  position: relative;
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 968px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../fonts/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Semibold';
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url("OpenSans-SemiBold.eot");
  src: url("OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("OpenSans-SemiBold.woff") format("woff"), url("OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Montserrat Medium', sans-serif;
  color: #ffffff;
  background-color: #ffffff;
}

section {
  width: 100%;
}

.button-o {
  display: block;
  padding: 11px 22px;
  text-transform: uppercase;
  border-radius: 28px;
  border: none;
  font-size: 14px;
  font-family: 'Montserrat Medium', sans-serif;
  color: #ffffff;
  cursor: pointer;
  background-color: #7ee852;
}

.navbar__button-1 {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.help__button-1 {
  position: relative;
  width: 300px;
  height: 60px;
  margin-top: -15px;
  margin-left: 33px;
  -webkit-box-shadow: 0 0 15px rgba(34, 40, 49, 0.25);
          box-shadow: 0 0 15px rgba(34, 40, 49, 0.25);
  z-index: 2;
}

.instalation__button-1 {
  position: relative;
  width: 300px;
  height: 60px;
  margin: auto;
  margin-top: 50px;
  -webkit-box-shadow: 0 0 15px rgba(34, 40, 49, 0.25);
          box-shadow: 0 0 15px rgba(34, 40, 49, 0.25);
  z-index: 2;
}

.tarrifs__button-1 {
  position: relative;
  width: 230px;
  height: 60px;
  margin: auto;
  margin-top: -30px;
  -webkit-box-shadow: 0 0 15px rgba(34, 40, 49, 0.25);
          box-shadow: 0 0 15px rgba(34, 40, 49, 0.25);
  z-index: 2;
}

.banner__button-1 {
  margin-top: 55px;
  width: 300px;
  height: 60px;
  -webkit-box-shadow: 0 0 20px rgba(126, 232, 82, 0.75);
          box-shadow: 0 0 20px rgba(126, 232, 82, 0.75);
  border-radius: 30px;
}

.subliner {
  display: block;
  width: 236px;
  height: 23px;
  margin-top: -30px;
  margin-left: 60px;
  -webkit-box-shadow: 0 10px 20px rgba(34, 40, 49, 0.5);
          box-shadow: 0 10px 20px rgba(34, 40, 49, 0.5);
  border-radius: 30px;
  background-color: #7ee852;
  z-index: 1;
}

.subliner_instalation {
  margin: auto;
  margin-top: -30px;
  margin-bottom: 100px;
}

.subliner_tarrifs {
  margin: auto;
  width: 202px;
  margin-top: -30px;
  margin-bottom: 100px;
}

.transparent {
  opacity: 0.3;
}

@media (max-width: 968px) {
  .navbar_button {
    display: none;
  }
  .help__button-1 {
    position: relative;
    width: 300px;
    height: 60px;
    margin-top: -15px;
    margin-left: 33px;
    -webkit-box-shadow: 0 0 15px rgba(34, 40, 49, 0.25);
            box-shadow: 0 0 15px rgba(34, 40, 49, 0.25);
    z-index: 2;
  }
}

@media (max-width: 500px) {
  .navbar_button {
    display: none;
  }
}

.navbar {
  background: #ffffff url("../img/hero/hero-bg.jpg") no-repeat center;
  background-size: cover;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 23px;
  min-height: 85px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar_menu__element {
  display: block;
  position: relative;
  height: 23px;
  font-size: 16px;
  font-family: 'Open Sans Semibold', sans-serif;
  color: #ffffff;
  text-decoration: none;
  z-index: 2;
}

.navbar_burger {
  display: none;
}

.navbar__logo {
  width: 135px;
  height: 65px;
  background: url(../img/Logo.png);
  background-size: cover;
}

.logo__text {
  font-size: 0;
  color: rgba(0, 0, 0, 0);
}

.hero {
  background: #ffffff url("../img/hero/hero-bg.jpg") no-repeat center;
  background-size: cover;
  height: 768px;
}

.hero__title {
  position: relative;
  text-shadow: 0 0 20px rgba(126, 232, 82, 0.5);
  color: #7ee852;
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 65px;
  margin-top: 190px;
  font-weight: 700;
  margin-bottom: 0;
  text-transform: uppercase;
  z-index: 2;
}

.hero__subtitle {
  position: relative;
  display: block;
  color: #ffffff;
  font-family: 'Montserrat Semibold', sans-serif;
  margin-top: 30px;
  z-index: 2;
  font-size: 36px;
}

.hero__widget {
  position: relative;
  display: block;
  width: 288px;
  height: 100px;
  margin: auto;
  margin-top: 145px;
  font-size: 24px;
  font-family: 'Open Sans Regular', sans-serif;
  z-index: 2;
  text-align: center;
}

.hero_img {
  position: absolute;
  width: 470px;
  height: 775px;
  left: 680px;
  top: 30px;
  z-index: 0;
}

.hero_arrow {
  position: absolute;
  width: 76px;
  height: 82px;
  left: 700px;
  top: 550px;
  z-index: 1;
}

.title {
  padding-top: 180px;
  padding-left: 19%;
}

@media (max-width: 1199px) {
  .hero__title {
    text-shadow: 0 0 20px rgba(126, 232, 82, 0.5);
    color: #7ee852;
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 65px;
    margin-top: 190px;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .hero__subtitle {
    display: block;
    color: #ffffff;
    font-family: 'Montserrat Semibold', sans-serif;
    margin-top: 30px;
    font-size: 36px;
  }
  .hero__widget {
    display: block;
    width: 288px;
    height: 100px;
    margin-left: 320px;
    margin-top: 145px;
    font-size: 24px;
    font-family: 'Open Sans Regular', sans-serif;
    text-align: center;
  }
  .hero_img {
    left: 580px;
  }
  .hero_arrow {
    left: 600px;
  }
  .title {
    padding-top: 180px;
    padding-left: 19%;
  }
}

@media (max-width: 968px) {
  .navbar-wrap {
    padding-top: 23px;
    min-height: 44px;
  }
  .navbar_menu__element {
    display: none;
  }
  .navbar_burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: transparent;
    border: none;
    height: 26px;
    width: 44px;
  }
  .navbar_burger__line {
    display: block;
    width: 44px;
    height: 4px;
    background-color: #ffffff;
    margin: 0 0 7px 0;
  }
  .short_line {
    width: 29px;
  }
  .hero {
    height: 667px;
  }
  .hero__title {
    text-shadow: 0 0 20px rgba(126, 232, 82, 0.5);
    font-size: 45px;
    margin-top: 74px;
    margin-left: 38px;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .hero__subtitle {
    color: #ffffff;
    font-family: 'Montserrat Semibold', sans-serif;
    margin-top: 24px;
    margin-left: 32px;
    text-align: center;
    width: 290px;
    font-size: 18px;
  }
  .hero__widget {
    display: block;
    margin-left: 25%;
    margin-top: 200px;
    font-family: 'Open Sans Regular', sans-serif;
    text-align: center;
  }
  .hero_img {
    width: 375px;
    left: 60%;
  }
  .hero_arrow {
    width: 64px;
    height: 90px;
    top: 430px;
    left: 60%;
  }
}

@media (max-width: 500px) {
  .navbar__logo {
    background: url(../img/Logo-575px.png);
    width: 227px;
    height: 19px;
    background-size: cover;
  }
  .navbar-wrap {
    padding-top: 23px;
    min-height: 44px;
  }
  .navbar_menu__element {
    display: none;
    height: 23px;
    font-size: 16px;
    font-family: 'Open Sans Semibold', sans-serif;
    color: #ffffff;
    text-decoration: none;
  }
  .navbar_burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: transparent;
    border: none;
    height: 26px;
    width: 44px;
  }
  .navbar_burger__line {
    display: block;
    width: 44px;
    height: 4px;
    background-color: #ffffff;
    margin: 0 0 7px 0;
  }
  .short_line {
    width: 29px;
  }
  .hero {
    background: #ffffff url("../img/hero/hero-bg-375.jpg") no-repeat center;
    background-size: cover;
  }
  .hero__title {
    text-shadow: 0 0 20px rgba(126, 232, 82, 0.5);
    color: #ffffff;
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 30px;
    margin-top: 74px;
    margin-left: 38px;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .hero__subtitle {
    color: #ffffff;
    font-family: 'Montserrat Semibold', sans-serif;
    margin-top: 24px;
    margin-left: 32px;
    text-align: center;
    width: 290px;
    font-size: 18px;
  }
  .hero__widget {
    display: block;
    width: 167px;
    height: 100px;
    margin-left: 0;
    margin-top: 29px;
    font-size: 14px;
    font-family: 'Open Sans Regular', sans-serif;
    text-align: center;
  }
  .hero_img {
    width: 375px;
    height: 425px;
    left: 0;
    right: 0;
    top: 240px;
    content: url(../img/hero/iPhone_X_-_Dark_mobile.png);
  }
  .hero_arrow {
    width: 64px;
    height: 90px;
    left: 160px;
    top: 280px;
    content: url(../img/hero/Arrow-575.png);
  }
  .title {
    padding-top: 180px;
    padding-left: 19%;
  }
  .lowercase {
    text-transform: lowercase;
  }
}

.advantage {
  background-color: #f2f2f2;
}

.advantages1 {
  display: none;
}

.advantages {
  position: relative;
  height: 264px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f2f2f2;
}

.advantage_block {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.advantage_block img {
  display: block;
  margin: auto;
  margin-top: 60px;
  width: 80px;
  height: 80px;
}

.advantage_block span {
  display: block;
  width: 257px;
  height: 44px;
  text-align: center;
  opacity: 0.6;
  color: #222831;
  font-family: "Open Sans";
  font-size: 16px;
  margin-top: 20px;
}

.advantage_lines {
  position: absolute;
  width: 1170px;
  height: 264px;
  display: block;
  background-color: transparent;
}

.advantage_lines_line {
  display: inline-block;
  width: 170px;
  margin-top: 100px;
  margin-left: 190px;
  height: 0px;
  border: 2px solid #d4d4d4;
}

.line2 {
  margin-left: 140px;
}

.line3 {
  margin-left: 130px;
}

@media (max-width: 1199px) {
  .advantage_block span {
    width: 220px;
  }
  .advantage_lines {
    width: 100%;
  }
  .advantage_lines_line {
    width: 110px;
  }
  .line2 {
    margin-left: 120px;
  }
  .line3 {
    margin-left: 130px;
  }
}

@media (max-width: 968px) {
  .advantage_block span {
    width: 160px;
  }
  .advantage_lines {
    width: 100%;
  }
  .advantage_lines_line {
    width: 50px;
    margin-left: 20%;
  }
  .line2 {
    margin-left: 20%;
  }
  .line3 {
    margin-left: 18%;
  }
}

@media (max-width: 500px) {
  .advantages {
    display: none;
  }
  .advantages1 {
    display: block;
    position: relative;
    background-color: #ffffff;
    width: 100%;
    height: 239px;
  }
  .advantages1_img {
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
    margin-top: 100px;
  }
  .advantages1_text {
    display: block;
    width: 226px;
    height: 44px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    opacity: 0.6;
    color: #222831;
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 16px;
  }
  .advantages1_line {
    display: block;
    position: absolute;
    width: 30%;
    height: 0;
    border: 2px solid #d4d4d4;
  }
  .advantages1_line__l {
    top: 40px;
    left: 0;
  }
  .advantages1_line__r {
    top: 40px;
    right: 0;
  }
}

.help {
  background-color: #ffffff;
}

.help_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
  height: 682px;
}

.help_foto {
  display: inline-block;
  width: 353px;
  margin-left: 25%;
  margin: auto;
  margin-top: 100px;
}

.help_img {
  width: 100%;
}

.help_info {
  display: inline-block;
  width: 564px;
  margin-top: 140px;
  margin-left: 30px;
}

.help_title {
  display: block;
  color: #222831;
  font-family: 'Montserrat Bold', sans-serif;
  width: 383px;
  height: 40px;
  margin: 0;
  padding: 0;
  font-size: 32px;
}

.help_description {
  display: block;
  color: #222831;
  width: 384px;
  height: 36px;
  font-family: 'Montserrat Medium', sans-serif;
  font-size: 28px;
}

.help_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #222831;
  margin-top: 40px;
  width: 524px;
  height: 28px;
  color: #222831;
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.help_text img {
  display: inline-block;
  width: 21px;
  height: 14px;
  margin-top: 6px;
}

.help_text span {
  display: inline-block;
  width: 524px;
  margin-left: 15px;
  color: #222831;
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 20px;
  opacity: 0.6;
  font-weight: 400;
}

@media (max-width: 968px) {
  .help_text {
    width: 100%;
  }
  .help_text span {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .help_box {
    position: relative;
    display: block;
    height: 900px;
  }
  .help_foto {
    display: block;
    width: 340px;
    margin: auto;
    margin-top: -1100px;
  }
  .help_info {
    display: block;
    width: 100%;
    height: 1195px;
    margin-top: 60px;
    margin-left: 30px;
  }
  .help_title {
    display: block;
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .help_description {
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
    margin-bottom: 600px;
  }
  .help_text {
    margin: auto;
    margin-top: 40px;
    width: 450px;
  }
}

@media (max-width: 500px) {
  .help_box {
    padding-top: 50px;
    height: 1050px;
  }
  .help_foto {
    margin-top: -1100px;
  }
  .help_info {
    width: 100%;
    height: 1195px;
    margin-top: 60px;
    margin-left: 0;
    padding-left: 30px;
  }
  .help_text {
    margin-left: -35px;
    margin-top: 10px;
    width: 110%;
    height: 80px;
  }
  .help_text span {
    width: 100%;
  }
}

.info {
  background-color: #f2f2f2;
}

.info_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 2088px;
}

.info_title {
  padding-top: 100px;
}

.info_title h2 {
  display: block;
  color: #7ee852;
  font-size: 30px;
  text-align: center;
  margin: auto;
  width: 100%;
  height: 116px;
}

.info_title h2 span {
  color: #222831;
}

.info_article_min {
  display: none;
}

.info_article {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 454px;
  margin-top: 105px;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.info_info-box {
  width: 470px;
  background-color: rgba(0, 0, 0, 0);
}

.info_info-box_card {
  display: block;
  width: 470px;
  height: 412px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  background-color: #ffffff;
}

.info_info-box_card-title {
  display: block;
  padding: 40px 129px 10px 108px;
  font-size: 11px;
  font-family: 'Montserrat Bold', sans-serif;
  color: #7ee852;
}

.info_info-box_card-text {
  display: block;
  padding: 9px 20px 25px 20px;
  font-size: 24px;
  font-family: 'Montserrat Semibold', sans-serif;
  color: #222831;
}

.info_info-box_card-sub {
  display: block;
  padding: 25px 21px 40px 21px;
  font-size: 16px;
  font-family: 'Open Sans Regular', sans-serif;
  color: #7a7e83;
}

.info_info-box_card-detailes {
  display: block;
  margin: auto;
  font-size: 14px;
  font-family: 'Montserrat Bold', sans-serif;
  color: #7ee852;
}

.info_info-box_card img {
  display: block;
  margin: auto;
}

.info_mockup {
  overflow: visible;
  margin-top: -15px;
  margin-left: 130px;
}

.info_mockup__left {
  margin-left: 0;
  width: 669px;
  margin-right: 10px;
}

.info_mockup img {
  overflow: visible;
  width: 569px;
}

@media (max-width: 1199px) {
  .info_info-box {
    width: 400px;
  }
  .info_info-box_card {
    height: 100%;
    width: 400px;
    height: 340px;
  }
  .info_info-box_card-title {
    padding: 30px 129px 15px 108px;
  }
  .info_info-box_card-text {
    padding: 9px 20px 25px 20px;
  }
  .info_info-box_card-sub {
    padding: 10px 21px 10px 21px;
    font-size: 14px;
  }
  .info_mockup {
    margin-left: 100px;
  }
  .info_mockup__left {
    margin-left: 0;
    width: 469px;
    margin-right: 60px;
  }
  .info_mockup img {
    width: 450px;
  }
}

@media (max-width: 968px) {
  .info_box {
    height: 1200px;
  }
  .info_article {
    margin-top: 20px;
    height: 310px;
  }
  .info_info-box {
    height: 250px;
    width: 350px;
  }
  .info_info-box_card {
    height: 100%;
    width: 350px;
    height: 250px;
  }
  .info_info-box_card-title {
    padding: 30px 129px 5px 108px;
    font-size: 9px;
  }
  .info_info-box_card-text {
    padding: 9px 20px 10px 20px;
    font-size: 16px;
  }
  .info_info-box_card-sub {
    padding: 10px 21px 10px 21px;
    font-size: 12px;
  }
  .info_info-box_card-detailes {
    margin: auto;
    font-size: 9px;
  }
  .info_mockup {
    margin-top: -15px;
    margin-left: 50px;
  }
  .info_mockup__left {
    margin-left: 0;
    width: 469px;
    margin-right: 60px;
  }
  .info_mockup img {
    width: 350px;
  }
}

@media (max-width: 768px) {
  .info_box {
    height: 1400px;
  }
  .info_article {
    margin-top: 70px;
    height: 310px;
  }
  .info_info-box {
    height: 250px;
    width: 100%;
    overflow: hidden;
  }
  .info_info-box_card {
    height: 100%;
    width: 100%;
    height: 250px;
  }
  .info_info-box_card-title {
    padding: 30px 10px 5px 10px;
    font-size: 9px;
  }
  .info_info-box_card-text {
    padding: 9px 20px 10px 20px;
    font-size: 12px;
  }
  .info_info-box_card-sub {
    padding: 10px 21px 10px 21px;
    font-size: 11px;
  }
  .info_info-box_card-detailes {
    margin: auto;
    font-size: 9px;
  }
  .info_mockup {
    margin-top: -15px;
    margin-left: 50px;
  }
  .info_mockup__left {
    margin-left: -30px;
    width: 469px;
    margin-right: 0;
  }
  .info_mockup img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .info_box {
    display: block;
    width: 100%;
    height: 1400px;
  }
  .info_title {
    padding-top: 100px;
  }
  .info_title h2 {
    display: block;
    color: #7ee852;
    font-size: 20px;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 116px;
  }
  .info_title h2 span {
    display: block;
    font-size: 20px;
  }
  .info_article {
    display: none;
  }
  .info_article_min {
    display: block;
    width: 345px;
    text-align: center;
    height: 591px;
    margin: auto;
  }
  .info_article_min-title {
    display: block;
    padding: 40px 129px 10px 108px;
    font-size: 11px;
    font-family: 'Montserrat Bold', sans-serif;
    color: #7ee852;
  }
  .info_article_min-text {
    display: block;
    padding: 9px 20px 25px 20px;
    font-size: 24px;
    font-family: 'Montserrat Semibold', sans-serif;
    color: #222831;
  }
  .info_article_min-sub {
    display: block;
    padding: 25px 21px 40px 21px;
    font-size: 16px;
    font-family: 'Open Sans Regular', sans-serif;
    color: #7a7e83;
  }
  .info_article_min-detailes {
    display: block;
    margin: auto;
    font-size: 14px;
    font-family: 'Montserrat Bold', sans-serif;
    color: #7ee852;
  }
}

.info2 {
  background-color: #ffffff;
}

.info2_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 567px;
  margin-bottom: 100px;
}

.programm_about {
  margin-top: 100px;
  margin-bottom: 15px;
  display: block;
  color: #7ee852;
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.programm {
  width: 45%;
  height: 536px;
}

.programm_title {
  display: block;
  color: #222831;
  font-family: 'Montserrat Semibold', sans-serif;
  font-size: 24px;
}

.programm_text {
  display: block;
  height: 246px;
  color: #7a7e83;
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 16px;
  margin-top: 30px;
  line-height: 28px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.programm_gradient {
  position: absolute;
  width: 50%;
  height: 47px;
  margin-top: -25px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#ffffff));
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}

.programm_text::-webkit-scrollbar {
  width: 5px;
}

.programm_text::-webkit-scrollbar-track {
  background: #f2f2f2;
}

.programm_text::-webkit-scrollbar-thumb {
  background: #7ee852;
  border-radius: 25px;
}

.programm img {
  margin-top: 60px;
}

.avtomation {
  position: relative;
  width: 45%;
  height: 530px;
  margin-left: 100px;
}

.avtomation_title {
  display: block;
  color: #222831;
  font-family: 'Montserrat Semibold', sans-serif;
  font-size: 20px;
}

.avtomation_text {
  height: 480px;
  color: #7a7e83;
  font-family: 'Open Sans Regular', sans-serif;
  margin-top: 30px;
  font-size: 16px;
  line-height: 28px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.avtomation_text p {
  margin: 0;
}

.avtomation_gradient {
  position: absolute;
  width: 465px;
  height: 47px;
  margin-top: -45px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#ffffff));
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}

.avtomation_text::-webkit-scrollbar {
  width: 5px;
}

.avtomation_text::-webkit-scrollbar-track {
  background: #f2f2f2;
}

.avtomation_text::-webkit-scrollbar-thumb {
  background: #7ee852;
  border-radius: 25px;
}

.detailes {
  display: none;
  width: 98px;
  height: 18px;
  margin: auto;
  color: #7ee852;
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  z-index: 5;
}

@media (max-width: 1325px) {
  .programm {
    width: 50%;
  }
  .programm_text {
    height: 246px;
    padding-right: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

@media (max-width: 1199px) {
  .programm {
    width: 47%;
  }
  .programm_title {
    width: 100%;
  }
  .programm_text {
    width: 100%;
    height: 320px;
  }
  .avtomation_title {
    width: 100%;
  }
  .avtomation_text {
    width: 100%;
  }
}

@media (max-width: 968px) {
  .info2 {
    height: 750px;
    background-color: #ffffff;
  }
  .programm {
    width: 47%;
  }
  .programm_title {
    width: 100%;
  }
  .programm_text {
    width: 100%;
    height: 400px;
  }
  .programm img {
    margin-top: 60px;
    width: 80%;
  }
  .avtomation {
    width: 45%;
  }
  .avtomation_text {
    height: 480px;
  }
}

@media (max-width: 768px) {
  .detailes {
    display: block;
    margin-top: 50px;
  }
  .info2 {
    height: 985px;
  }
  .info2_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 915px;
    margin-bottom: 100px;
  }
  .programm_about {
    margin-top: 60px;
    margin-bottom: 9px;
    display: block;
    color: #7ee852;
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
  }
  .programm {
    width: 100%;
    height: 690px;
  }
  .programm_title {
    display: block;
    color: #222831;
    font-family: 'Montserrat Semibold', sans-serif;
    text-align: center;
    font-size: 24px;
  }
  .programm_text {
    display: block;
    height: 221px;
    color: #7a7e83;
    text-align: center;
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 16px;
    margin-top: 30px;
    line-height: 28px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .programm_gradient {
    position: absolute;
    width: 100%;
    height: 47px;
    margin-top: -25px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#ffffff));
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  }
  .programm_text::-webkit-scrollbar {
    width: 5px;
  }
  .programm_text::-webkit-scrollbar-track {
    background: #f2f2f2;
  }
  .programm_text::-webkit-scrollbar-thumb {
    background: #7ee852;
    border-radius: 25px;
  }
  .programm img {
    margin-top: 30px;
    width: 522px;
  }
  .avtomation {
    position: relative;
    width: 100%;
    height: 530px;
    margin-top: 40px;
    margin-left: 0;
  }
  .avtomation_title {
    display: block;
    color: #222831;
    font-family: 'Montserrat Semibold', sans-serif;
    text-align: center;
    font-size: 18px;
  }
  .avtomation_text {
    height: 162px;
    color: #7a7e83;
    text-align: center;
    font-family: 'Open Sans Regular', sans-serif;
    margin-top: 30px;
    font-size: 16px;
    line-height: 28px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .avtomation_text p {
    text-align: center;
    margin: 0;
  }
  .avtomation_gradient {
    position: absolute;
    width: 465px;
    height: 47px;
    margin-top: -45px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#ffffff));
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  }
  .avtomation_text::-webkit-scrollbar {
    width: 5px;
  }
  .avtomation_text::-webkit-scrollbar-track {
    background: #f2f2f2;
  }
  .avtomation_text::-webkit-scrollbar-thumb {
    background: #7ee852;
    border-radius: 25px;
  }
}

.instalation {
  background-color: #f2f2f2;
  height: 720px;
}

.instalation_title {
  display: block;
  text-align: center;
  width: 470px;
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 30px;
  color: #222831;
  margin: auto;
  padding-top: 100px;
}

.instalation_description {
  display: block;
  width: 470px;
  text-align: center;
  font-family: 'Montserrat Medium', sans-serif;
  font-size: 18px;
  color: #7a7e83;
  margin: auto;
  padding-top: 20px;
}

.instalation_steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 121px;
  margin-bottom: 80px;
}

.instalation_finish-description {
  display: block;
  width: 470px;
  text-align: center;
  font-family: 'Montserrat Medium', sans-serif;
  font-size: 18px;
  color: #7a7e83;
  margin: auto;
  padding-top: 20px;
}

.step {
  width: 370px;
  height: 121px;
  display: inline-block;
}

.step h4 {
  color: #7ee852;
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 32px;
}

.step_purpose {
  color: #222831;
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.step_finish {
  width: 500px;
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 24px;
  color: #7ee852;
  text-align: center;
  margin: auto;
  padding-top: 80px;
}

.step_finish_purpose {
  color: #222831;
}

.step_description {
  color: #7a7e83;
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 18px;
  line-height: 30px;
}

@media (max-width: 768px) {
  .instalation {
    height: 880px;
  }
  .instalation_title {
    width: 100%;
    font-size: 24px;
    padding-top: 40px;
  }
  .instalation_description {
    width: 100%;
    font-size: 14px;
    padding-top: 13px;
  }
  .instalation_steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 321px;
    margin-bottom: 80px;
  }
  .instalation_finish-description {
    width: 100%;
    font-size: 18px;
    padding-top: 20px;
  }
  .step {
    width: 100%;
    margin-top: 40px;
  }
  .step h4 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .step_purpose {
    font-size: 16px;
  }
  .step_finish {
    width: 100%;
    font-size: 20px;
  }
  .step_finish_purpose {
    display: block;
  }
  .step_description {
    display: block;
    margin-top: 23px;
    font-size: 14px;
  }
}

.reviews {
  background-color: #ffffff;
  height: 500px;
}

.reviews h3 {
  display: block;
  text-align: center;
  width: 780px;
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 32px;
  color: #222831;
  margin: auto;
  padding-top: 100px;
}

.reviews_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.reviews_box_item {
  position: relative;
  width: 370px;
  height: 211px;
  margin-right: 40px;
  margin-top: 80px;
  display: inline-block;
}

.reviews_box_item_info {
  position: relative;
  width: 204px;
  height: 70px;
  margin: auto;
}

.reviews_box_item_avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
}

.reviews_box_item_name {
  position: absolute;
  top: 10px;
  left: 90px;
  color: #222831;
  font-size: 20px;
  font-family: 'Montserrat Bold', sans-serif;
}

.reviews_box_item_position {
  position: absolute;
  top: 40px;
  left: 90px;
  color: #7a7e83;
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 16px;
}

.reviews_box_item_text {
  position: absolute;
  left: 70px;
  top: 110px;
  width: 230px;
  height: 70px;
  color: #7a7e83;
  font-family: 'Open Sans Regular', sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

.reviews_box_item_left {
  position: absolute;
  left: 0;
  top: 70px;
}

.reviews_box_item_right {
  position: absolute;
  right: 0;
  top: 70px;
}

@media (max-width: 1199px) {
  .reviews_box_item_text {
    position: absolute;
    left: 20px;
  }
}

@media (max-width: 968px) {
  .reviews_box_item_text {
    position: absolute;
    top: 100px;
    width: 180px;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .reviews h3 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .reviews {
    background-color: #ffffff;
    height: 425px;
  }
  .reviews h3 {
    width: 100%;
    font-size: 24px;
    padding-top: 60px;
  }
  .reviews_box {
    display: block;
    width: 100%;
    height: 280px;
  }
  .reviews_box_item {
    position: relative;
    width: 100%;
    height: 211px;
    margin-right: 40px;
    margin-top: 40px;
    display: inline-block;
  }
  .reviews_box_item_info {
    position: relative;
    width: 204px;
    height: 70px;
    margin: auto;
  }
  .reviews_box_item_avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
  }
  .reviews_box_item_name {
    position: absolute;
    top: 10px;
    left: 90px;
    color: #222831;
    font-size: 20px;
    font-family: 'Montserrat Bold', sans-serif;
  }
  .reviews_box_item_position {
    position: absolute;
    top: 40px;
    left: 90px;
    color: #7a7e83;
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 16px;
  }
  .reviews_box_item_text {
    position: absolute;
    left: 20%;
    top: 110px;
    width: 230px;
    height: 70px;
    color: #7a7e83;
    font-family: 'Open Sans Regular', sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    top: 100px;
    width: 180px;
    font-size: 12px;
  }
  .reviews_box_item_left {
    position: absolute;
    left: 0;
    top: 60px;
  }
  .reviews_box_item_right {
    position: absolute;
    right: 0;
    top: 60px;
  }
}

.tarrifs {
  background-color: #ffffff;
  height: 720px;
  position: relative;
}

.tarrifs h3 {
  display: block;
  text-align: center;
  width: 780px;
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 32px;
  color: #222831;
  margin: auto;
  padding-top: 100px;
}

.tarrifs_compaire {
  position: absolute;
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 20px;
  color: #7ee852;
  top: 110px;
  right: 0;
}

.tarrifs_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.tarrifs_box_item {
  position: relative;
  width: 370px;
  height: 211px;
  margin-right: 40px;
  margin-top: 80px;
  display: inline-block;
}

.tarrifs_box_item_name {
  width: 370px;
  height: 92px;
  border-radius: 10px;
  background-color: #222831;
  text-align: center;
  line-height: 90px;
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 28px;
}

.tarrifs_box_item_body {
  width: 370px;
  height: 278px;
  border-radius: 10px;
  background-color: rgba(34, 40, 49, 0.05);
  margin-top: 30px;
}

.tarrifs_box_item_body img {
  display: block;
  margin: auto;
  padding-top: 30px;
}

.tarrifs_box_item_body span {
  display: block;
  color: #222831;
  margin: 30px 15px 0 15px;
  font-size: 18px;
  line-height: 30px;
  font-family: 'Montserrat Medium', sans-serif;
  text-align: center;
}

.banner {
  background-color: #ffffff;
  height: 417px;
  position: relative;
}

.banner_body {
  position: absolute;
  width: 100%;
  height: 316px;
  top: 100px;
  left: 0;
  background-color: #222831;
}

.banner_body img {
  display: block;
  position: absolute;
  width: 365px;
  height: 467px;
  top: -151px;
  left: 770px;
}

.banner_title {
  color: #f2f2f2;
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 32px;
  margin-top: 60px;
  margin-bottom: 0;
}

.banner_title span {
  color: #7ee852;
}

.banner_description {
  display: block;
  width: 670px;
  height: 22px;
  color: #f2f2f2;
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-top: 25px;
}

.footer {
  background-color: #ffffff;
  position: relative;
}

.footer_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 100px;
}

.footer_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 55px;
}

.footer_item_name {
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 18px;
  color: #222831;
  margin-top: 100px;
  margin-bottom: 32px;
}

.footer_item a {
  display: block;
  width: 100%;
  height: 24px;
  cursor: pointer;
  margin-bottom: 23px;
  text-decoration: none;
  font-family: 'Open Sans Regular', sans-serif;
  color: #7a7e83;
  font-size: 16px;
}

.footer_string {
  width: 100%;
  height: 65px;
  background-color: #f2f2f2;
}

.footer_string_payment {
  display: block;
  margin-top: -25px;
  margin-left: 822px;
  width: 288px;
  height: 35px;
}

.footer_string_payment a {
  display: inline-block;
  width: 57px;
  height: 35px;
  cursor: pointer;
  margin-right: 10px;
}

.footer_string span {
  display: inline-block;
  margin-top: 15px;
  color: #7a7e83;
  font-size: 17px;
  font-family: 'Open Sans Regular', sans-serif;
}

.visa {
  background-image: url(../img/footer/visa.png);
}

.paypal {
  background-image: url(../img/footer/paypal.png);
}

.maestro {
  background-image: url(../img/footer/maestro.png);
}

.mastercard {
  background-image: url(../img/footer/mastercard.png);
}

.icons {
  width: 100%;
  height: 40px;
  margin-bottom: 23px;
}

.icons a {
  display: block;
  width: 40px;
  height: 40px;
}

.vk, .twitter, .facebook {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 30px;
}

.vk a {
  background-image: url(../img/footer/vk.png);
}

.twitter a {
  background-image: url(../img/footer/twitter.png);
}

.facebook a {
  background-image: url(../img/footer/facebook.png);
}
/*# sourceMappingURL=style.css.map */