body
    +montserratMedium
    color: $text-color

.button-o
    padding: 11px 22px
    text-transform: uppercase
    border-radius: 28px
    border: none
    font-size: 14px
    +montserratMedium
    color: $text-color
    background-color: #7ee852

.navbar__button-1
    background-color: rgba(0,0,0,0)
    border: 1px solid rgba(#ffffff,.3)

    