.advantage
    background-color: $background-color

.advantages1
    display: none
.advantages
    position: relative
    height: 264px
    display: flex
    justify-content: space-between
    background-color: $background-color

.advantage
    &_block
        justify-content: space-around
    &_block img
        display: block
        margin: auto
        margin-top: 60px
        width: 80px
        height: 80px
    &_block span 
        display: block
        width: 257px
        height: 44px
        text-align: center
        opacity: 0.6
        color: #222831
        font-family: "Open Sans"
        font-size: 16px
        margin-top: 20px    
    &_lines
        position: absolute
        width: 1170px
        height: 264px
        display: block
        background-color: transparent
        &_line
            display: inline-block
            width: 170px
            margin-top: 100px
            margin-left: 190px
            height: 0px
            border: 2px solid #d4d4d4

.line2
    margin-left: 140px

.line3
    margin-left: 130px

@media (max-width: 1199px)
    .advantage
        &_block span 
            width: 220px
        &_lines
            width: 100%
            &_line
                width: 110px

    .line2
        margin-left: 120px

    .line3
        margin-left: 130px

@media (max-width: 968px)
    .advantage
        &_block span 
            width: 160px
        &_lines
            width: 100%
            &_line
                width: 50px
                margin-left: 20%

    .line2
        margin-left: 20%

    .line3
        margin-left: 18%

@media (max-width: 500px)
    .advantages
        display: none

    .advantages1
        display: block
        position: relative
        background-color: $text-color
        width: 100%
        height: 350px
        border: 1px solid rgba(0, 0, 0, 0)
        &_img
            display: block
            width: 80px
            height: 80px
            margin: auto
            margin-top: 100px
        &_text
            display: block
            width: 226px
            height: 44px
            margin: auto
            margin-top: 50px
            text-align: center
            opacity: 0.6
            color: #222831
            +openSansRegular
            font-size: 16px

        &_line
            display: block
            position: absolute
            width: 30%
            top: 140px
            height: 0
            border: 2px solid #d4d4d4

        &_line__l
            left: 0
        &_line__r
            right: 0