.help
    display: flex
    background-color: $text-color
    justify-content: space-between
    

    &_foto
        display: inline-block
        width: 353px
        height: 433px
        margin-left: 25%
        margin: auto
        margin-top: 100px
    &_img
        width: 100%
        height: 100%

    &_info
        display: inline-block
        width: 564px
        height: 395px
        margin-top: 100px

    &_title
        display: inline-block
    &_description
        display: inline-block
    &_text
        display: inline-block