.help
    background-color: $text-color
    &_box
        display: flex
        justify-content: space-between
        margin-bottom: 100px

    &_foto
        display: inline-block
        width: 353px
        height: 433px
        margin-left: 25%
        margin: auto
        margin-top: 100px
    &_img
        width: 100%
        height: 100%

    &_info
        display: inline-block
        width: 564px
        height: 395px
        margin-top: 140px
        margin-left: 30px

    &_title
        display: block
        color: #222831
        +montserratBold
        width: 383px
        height: 40px
        margin: 0
        padding: 0
        font-size: 32px
    &_description
        display: block
        color: #222831
        width: 384px
        height: 36px
        +montserratMedium
        font-size: 28px
    &_text
        display: flex
        color: #222831
        margin-top: 40px
        width: 524px
        height: 28px
        color: #222831
        +openSansRegular
        font-size: 20px
        font-weight: 400

    &_text img
        display: inline-block
        width: 21px
        height: 14px
        margin-top: 6px
    &_text span
        display: inline-block
        width: 524px
        margin-left: 15px
        color: #222831
        +openSansRegular
        font-size: 20px
        opacity: 0.6
        font-weight: 400





    
@media (max-width: 1199px)
    .help
        background-color: $text-color
        &_box
            display: flex
            justify-content: space-between
            margin-bottom: 100px

        &_foto
            display: inline-block
            width: 353px
            height: 433px
            margin-left: 25%
            margin: auto
            margin-top: 100px
        &_img
            width: 100%
            height: 100%

        &_info
            display: inline-block
            width: 564px
            height: 395px
            margin-top: 140px
            margin-left: 30px

        &_title
            display: block
            color: #222831
            +montserratBold
            width: 383px
            height: 40px
            margin: 0
            padding: 0
            font-size: 32px
        &_description
            display: block
            color: #222831
            width: 384px
            height: 36px
            +montserratMedium
            font-size: 28px
        &_text
            display: flex
            color: #222831
            margin-top: 40px
            width: 524px
            height: 28px
            color: #222831
            +openSansRegular
            font-size: 20px
            font-weight: 400

        &_text img
            display: inline-block
            width: 21px
            height: 14px
            margin-top: 6px
        &_text span
            display: inline-block
            width: 524px
            margin-left: 15px
            color: #222831
            +openSansRegular
            font-size: 20px
            opacity: 0.6
            font-weight: 400
