.info
    background-color: $background-color

    &_box
        display: flex
        flex-direction: column
        height: 2088px
    &_title
        padding-top: 100px
    &_title h2
        display: block
        color: #7ee852
        font-size: 30px
        text-align: center
        margin: auto
        width: 768px
        height: 116px
        
    &_title h2 span
        color: #222831
        
    &_article
        text-align: center
        display: flex
        justify-content: space-between
    &_info-box
        display: inline-block
        margin-top: 105px
        width: 490px
        height: 432px
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.05)
        border-radius: 5px
        background-color: $text-color

    &_mockup
        display: inline-block
        overflow: visible
        margin-top: 105px
        width: 669px
        height: 397px
    
    &_mockup img
        display: block
        overflow: visible
        width: 100%