.instalation
    background-color: $background-color
    height: 720px

    &_title
        display: block
        text-align: center
        width: 470px
        +montserratBold
        font-size: 30px
        color: #222831
        margin: auto 
        padding-top: 100px
    &_description
        display: block
        width: 470px
        text-align: center
        +montserratMedium
        font-size: 18px
        color: #7a7e83
        margin: auto 
        padding-top: 20px
    &_steps
        display: flex
        width: 100%
        height: 121px
        margin-bottom: 80px
    &_finish-description
        display: block
        width: 470px
        text-align: center
        +montserratMedium
        font-size: 18px
        color: #7a7e83
        margin: auto 
        padding-top: 20px

.step
    width: 370px
    height: 121px
    display: inline-block
.step h4
    color: $btn-color
    +montserratBold
    font-size: 32px
.step_purpose
    color: rgb(34, 40, 49)
    +montserratBold
    font-size: 18px
    text-transform: uppercase

.step_finish
    width: 500px
    +montserratBold
    font-size: 24px
    // Text style for "Готово!"
    color: #7ee852
    text-align: center
    margin: auto
    padding-top: 80px
.step_finish_purpose
    color: #222831

.step_description
    color: #7a7e83
    +montserratBold
    font-size: 18px
    line-height: 30px